h3,
h2,
.text {
  text-align: center;
}

.header-bg {
  z-index: 800;
}


.line {
  border: 0;
  height: 1px;
  background: #656565;
  background-image: linear-gradient(to right, #ccc, #656565, #ccc);
}

.navbar-brand {
  text-indent: -9999px;
  z-index: 1000;
}

.navbar-brand img {
  display: block;
  background: url('../pop-devicelab.svg') no-repeat center center;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin: 0 auto;
  background-size: cover;

}

/********
* override bootstrap *
**********/

.navbar {
  min-height: 110px;
  z-index: 1000;
}

.navbar-nav>li>a {
  line-height: 78px;
  font-size:  26px;
}

.footer {
  background: black;
}

@media (max-width: 768px) {
  .navbar-brand  {
    text-indent: 0;
    font-size: 28px;
    line-height: 81px;
  }
  .navbar-brand img {
    background: none;
  }
}

@media (max-width: 400px) {
  .navbar-brand  {
    font-size: 22px;
    line-height: 24px;
  }
}
